<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Response</title>
</head>

<br>
<br>
<br>
<h1 style= 'text-align: center;'>WIKI-SEARCH
</h1>
<form action="#" method= "post">
      <div style="text-align: center;" >
      <p>Please Enter Your Search:</p>

  
      <P><input class="input-large search-query" placeholder=" Dog" type = "text"  name = "nm" /> </P>
 

      <P><input type = "submit"  value = "Submit"/> </P>
      </div>
</form>
